---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";

interface Props {
	project: CollectionEntry<"work">;
	isGrid?: boolean;
}

const [lang, ...slugArr] = Astro.props.project.slug.split("/");
const url = getRelativeLocaleUrl(lang, `work/${slugArr.join("/")}`);
const { data } = Astro.props.project;
const { isGrid } = Astro.props;
let tags = data.tags.join(" ");
---

<div class="window">
	<div class="title-bar">
		<div class="title-bar-text">
			{data.title}.exe
		</div>
	</div>
	<div class="window-body showcase">
		<a class=`card All ${tags} ${isGrid ? "card-grid" : ""}` href={url}>
			<Image
				src={data.img}
				alt={data.img_alt || ""}
				loading="lazy"
				decoding="async"
			/>
		</a>
		<div class="status-bar">
			{
				data.tags
					.slice(0, 3)
					.map((item) => <p class="status-bar-field">{item}</p>)
			}
		</div>
	</div>
</div>
